.CompareBar {
  position: sticky;
  bottom: -100px;
  margin-bottom: -30px;
  height: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  opacity: 0.3;
  z-index: -1;
  transition: all 0.15s ease-in;

  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    opacity: 0;
    transition: all 0.1s ease-in 0.2s;
  }

  &.opened {
    position: sticky;
    margin-bottom: 0px;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    height: 180px;
    .wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 10px;
      opacity: 1;
    }
  }
}
