@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
}
div {
  padding: 0;
}

.banner {
  background-color: $primary;
}

.productList {
  background-color: $grey;
}

.filters {
  background-color: $lightGrey;
}

.brands {
  background-color: $superLightGrey;
}
