@import "../../../styles/settings.scss";

.root {
  margin: 30px auto 60px auto;
  padding: 0;

  .imageBlock {
    display: inline-block;
    max-width: 93px;
    padding: 0;
    img {
      max-width: 93px;
      height: auto;
    }
  }

  border: {
    style: solid;
    color: $muted;
    width: 2px;
    left: none;
    right: none;
  }

  .containerWrapper {
    height: 93px;
    margin: 22px 0;
    align-items: center;
  }

  a {
    opacity: 1;
    background-color: $nero;
    width: 34px;
    height: initial;
    &:hover {
      opacity: 1;
      :first-child {
        color: $primary;
      }
    }
  }
}

