/* THIS VARIABLES ARE NOT TO USE IN OTHER PLACES */
$white: #ffffff;
$fuelYellow: #d58e32;
$grey: #b6b6b6;
$lightGrey: #e2e2e2;
$charcoal: #434343;
$eclipse: #363636;
$darkGrey: #2a2a2a;
$nero: #292929;
$superLightGrey: #f4f5f7;
$quartz: #d8d8d9;
$deepGrey: #a9a9a9;
$duration: 250ms;

$base-padding: 24px;

$header-topbar-bg: $charcoal;
$header-bg: $eclipse;

$footer-claim-bg: $darkGrey;
$footer-bg: $eclipse;

$primary: $fuelYellow;
$light: $white;
$secondary: $grey;
$muted: $lightGrey;
$light-muted: $superLightGrey;

$text-color: $darkGrey;

$form-border-color: $nero;

$claim-text: $quartz;
$footer-text: $deepGrey;

$btn-dark: $darkGrey;


