@import "../../../styles/settings.scss";

.root {
  background-color: $light;
  border: 1px solid $light-muted;
  margin-bottom: 2rem;

  .photo {
    display: block;
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $light-muted;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $text-color;
      border-radius: 50%;
      color: $light;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 1s;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    a {
      text-decoration: none;
    }

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $text-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $text-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .oldPrice {
    display: inline-block;
    font-weight: bold;
    color: $primary;
    font-size: 16px;
    text-decoration: line-through;
    margin-right: 10px;
  }
  &:hover {
    .buttons {
      opacity: 1;
    }
    .price a {
      background-color: $primary;
    }
  }
}
