@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
  }
  ul {
    list-style: none;

    li {
      font-size: 14px;
      color: $text-color;
    }
  }

  .selectCategory {
    position: relative;
    display: block;
    padding: 5px 30px 5px 35px;

    li {
      margin-top: 16px;
    }

    li:hover .selectCategory2 {
      display: block;
      z-index: 1;
      background-color: white;
    }
  }

  .selectCategory2 {
    display: none;
    position: absolute;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
